<mat-card>
 
   
      
      <div style="display:   flex-end; flex: 1 1 auto;"> 
        
        <button  mat-raised-button 
                class="nav-side" 
                (click)= "toBooks()">
          Books
      </button>
  
      <button  mat-raised-button *ngIf = "!(authService.user | async)" 
                class="nav-side" 
                (click)= "toRegister()">
          Register
      </button>
  
      
      <button  *ngIf = "!(authService.user | async)"
                mat-raised-button 
                class="nav-side" 
                (click)= "toLogin()">
          Login
      </button>
  
      <button *ngIf = "(authService.user | async)"
              mat-raised-button 
              class="nav-side" 
              (click)="toLogout()">
        Logout
     </button>  
        
          
    </div>
    
  
  </mat-card>
  