<mat-card>
    <div *ngIf = "!(authService.user | async)">
      <h3 style = "text-align: center;"><a routerLink = "/register">Register</a> or <a routerLink="/login">Login</a> to manage your reading list</h3>
    </div>
  
    <div *ngIf = "(authService.user | async)">
      <h3 style = "text-align: center;">Welcome {{ nickname }}</h3>
   

  <div >
    <mat-form-field>
      <input [(ngModel)] = "book" matInput placeholder="book name">
      <mat-hint>book Item</mat-hint>
    </mat-form-field>
    <mat-form-field>
        <input [(ngModel)] = "writer" matInput placeholder="Name of writer">
        <mat-hint></mat-hint>
      </mat-form-field>
    <button mat-raised-button (click) = "addBook()">Add</button>
  </div>
  


    <mat-card *ngIf = "(authService.user | async)">
        <br>
        <mat-card-subtitle class="sub2">
        Your Books :
        </mat-card-subtitle>
        <book class="checkbox" *ngFor = "let book of books"
               [data] = "book">
        </book>
    </mat-card>
 </div>
  </mat-card>


  <!-- <div>
  
    this is the text from the child: {{ bookTextFromBook }}
  </div> -->