<li (mouseenter) = "showButton()"
    (mouseleave) = "hideButton()"
    style="list-style-type:none">
   

            <mat-checkbox class = "checkbox"
            [(ngModel)]="read"
            (change) = "checkRead()">
          </mat-checkbox> 
          <span   *ngIf = "!showEditField"
                  (click) = "showEdit()"> Name - {{ book }} </span>
                  <br>
                  <span   *ngIf = "showTheWriter && !showEditField"
                  (click) = "showEdit()"> Writer - {{ writer }} </span>
          
      
          <mat-form-field *ngIf = "showEditField">
              <input [(ngModel)] = "book" matInput >
          </mat-form-field>
          <br>
          <mat-form-field *ngIf = "showEditField">
            <input [(ngModel)] = "writer" matInput >
        </mat-form-field>
      
          <button mat-raised-button
                  *ngIf = "showEditField"
                  (click) = "save()">Save</button>
      
          <button mat-raised-button
                  *ngIf = "showEditField"
                  (click) = "cancel()">Cancel</button>        
      
      </li>